@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mulish:wght@800&display=swap");

:root {
  --primary-color: #96bb7c;
  --secondary-color: #ddf4ff;
  --light-background-color: #ffffff;
  --text-color: #252b42;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-color: var(--secondary-color);
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  color: var(--text-color);
  padding-left: 200px;
  padding-right: 200px;
}

/* navbar brandname */
.navbar .brandname {
  font-weight: bold;
  color: var(--text-color);
  text-transform: uppercase;
}

/* navbar links */
.navbar .navbar-items a {
  float: left;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* navbar buttons */
.navbar .navbar-buttons a {
  color: var(--primary-color);
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}

/* navbar right button */
.navbar .navbar-buttons .navbar-button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .navbar-buttons .navbar-button i {
  padding: 0px 8px;
}

/* --------------------------------------------------------------------------- */

/* Container */

/* container */
.container {
  padding-left: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* container up title */
.container .container-up-title {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 16px;
  text-align: left;
}

/* container main title */
.container .container-main-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: 34px;
  text-align: left;
}

/* container sub title */
.container .container-sub-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: 20px;
  text-align: left;
}

/* container img */
.container .container-img img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 150px;
  width: 700px;
  height: auto;
}

/* container buttons */
.container .container-buttons {
  display: flex;
  align-items: center;
  justify-content: inherit;
  padding-top: 15px;
}

/* container button full */
.container .container-buttons .full {
  background-color: var(--primary-color);
  color: white;
  padding: 22px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.container .container-buttons .full:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px 38px;
  transition: 0.1s;
}

/* container button empty */
.container .container-buttons .empty {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px 38px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-left: 20px;
}

.container .container-buttons .empty:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 0.1s;
}

/* --------------------------------------------------------------------------- */

/* Stats */

.stats .items-stats {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  list-style-type: none;
}

.stats .items-stats .item-stats h1 {
  color: var(--primary-color);
  font-size: 54px;
}

.stats .items-stats .item-stats h3 {
  margin-top: -30px;
}
